body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: xx-large;
  color: white;
  background: black;
}

a:visited {
  color: goldenrod;
}

.header h1 {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 3em;
}

.calculator button {
  font-size: xx-large;
  width: 20%;
  height: 75px;
  margin: 2%;
}

.calculator button:hover {
  background: green;
  color: lawngreen;
  transform: scale(1.1);
}

.calculator__view {
  border: 1px solid white;
  max-width: 48%;
  height: 100px;
  margin: 0 auto;
  font-size: 1em;
  overflow-wrap: break-word;
  overflow: auto;
}

.calculator__view > * {
  display: block;
  padding: 0 1%;
}

.calculator__view__compute {
  text-align: left;
  font-size: 1.2em;
}

.calculator__view__result {
  text-align: right;
  font-size: 1.2em;
  text-decoration: underline;
  font-weight: bold;
}

.calculator__row1 {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  justify-content: space-around;
}

.calculator__row1 {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  justify-content: space-around;
}

.calculator__row2 {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  justify-content: space-around;
}

.calculator__row3 {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  justify-content: space-around;
}

.calculator__row4 {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  justify-content: space-around;
}

.calculator__row5 {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  justify-content: space-around;
}

.footer {
  background-color: #333;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: medium;
}